# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Databases
*.db
*.sqlite
**/*.db
**/*.sqlite
**/rxdb-data/

# Logs
*.log
**/logs/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/